@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,700;1,800&display=swap');

body {
  background-color: #141414;
  font-family: 'Montserrat', sans-serif;
}

.App-header {
  background-color: #202020;
  height: 200px;
  width: 100vw;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px;
}

.logo {
  width: 80vw;
  height: auto;
  max-height: 88px;
  max-width: 520px;
  margin: auto;
  padding-left: 270px;
}

.logo-img {
  width: 80vw;
  height: auto;
  max-height: 88px;
  max-width: 520px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
}

.page-icon {
  z-index: 2;
  height: 40px;
  width: 250px;
  margin-bottom: 10px;
  background-color: #F8584B;
  display: flex;
  align-items: center;
  position: relative;
}

.page-icon:hover{
  background-color: rgb(194, 67, 55);
}

.page-name {
  z-index: 1;
  width: 250px;
  height: 40px;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 25px;
  color: white;
  margin: 0;
}

.menu-icon {
  height: 40px;
  width: 40px;
}

.item-count {
  z-index: 3;
  width: 20px;
  height: 20px;
  background-color: #00eaff;
  border-radius: 50%;
  position: absolute;
  bottom: 25px;
  right: 240px;
  color: black;
  font-size: small;
  text-align: center;
  font-weight: 600;
  line-height: 18px;
}

.search-bar {
  appearance: none;
  background-color: #202020;
  border: 2px solid #F8584B;
  height: 40px;
  width: 250px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding-left: 5px;
  box-sizing: border-box;
  font-size: 12px;
}

.search-bar:focus {
  outline: none;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1555px;
  margin: auto;
}

.product-card {
  width: 220px;
  height: 550px;
  margin: 20px;
  border-bottom: 2px solid #F8584B;
  position: relative;
}

.product-img {
  width: 220px;
  height: 330px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-card p {
  color: white;
  margin: 0 0 5px 0;
}

.author {
  color: #00eaff !important;
  margin: 0 0 20px 0;
}

a, a:hover, a:visited  {
  text-decoration: none;
}

.cart-btn {
  background-color: #F8584B;
  color: white;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  border: none;
  position: absolute;
  bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.cart-btn:hover {
  background-color: #00eaff;
  color: black;
}

.cart-btn:focus {
  outline: none;
}

.shopping-cart {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  margin: auto;
}

h1 {
  color: white;
}

hr {
  border: 1px solid #00eaff;
  width: 50vw;
}

.empty-cart {
  color: white;
  margin-top: 80px;
}

.cart-item {
  display: flex;
  align-items: center;
  width: 50vw;
  height: 100px;
  margin: 10px auto;
  background-color: #F8584B;
  border-radius: 10px;
}

.cart-item-img {
  height: 90px;
  width: 60px;
  object-fit: cover;
  margin-left: 20px;
}

.item-info {
  margin-left: 20px;
  text-align: left;
  width: 70%;
  color: white;
}

.cart-item-name {
  color: white;
  margin: 0;
}

.cart-item-stock {
  font-size: small;
  margin: 0;
}

.cart-item-isbn {
  margin: 0;
}

.cart-item-pub {
  margin: 0;
}

.cart-item-price {
  color: white;
  margin: 5px 0;
}

.item-count-btn {
  background-color: white;
  border: none;
  border-radius: 10%;
  width: 30px;
  height: 20px;
  margin: 0 5px;
}

.item-count-btn:hover {
  background-color: #00eaff;
}

.single-item-count {
  width: 50px;
  border: none;
  height: 20px;
  text-align: center;
}

.remove-item {
  background-color: white;
  height: 30px;
  width: 120px;
  border-radius: 5px;
  border: none;
  margin: 10px 0;
  font-family: 'Montserrat', sans-serif;
}

.remove-item:hover {
  background-color: #00eaff;
}

.remove-all-btn {
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 250px;
  height: 40px;
  margin: 20px auto;
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
}

.remove-all-btn:hover {
  background-color: #00eaff;
}

.checkout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total {
  color: white;
  font-size: x-large;
  text-align: left;
}

.buy-btn {
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 250px;
  height: 40px;
  margin: 20px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
}

.buy-btn:hover {
  background-color: #F8584B;
}

#checkout {
  width: 50vw;
  margin: auto;
  color: white;
  display: flex;
}

.checkout-form {
  width: 50%;
}

.checkout-input {
  width: 80%;
  height: 30px;
  margin: 10px 0;
  border-radius: 5px;
  border: 2px solid white;
}

.checkout-input:focus {
  border: 2px solid #F8584B;
}

.payment {
  width: 50%;
  text-align: center;
}

.smaller-input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  border-radius: 5px;
  border: 2px solid white;
}

.smaller-input:focus {
  border: 2px solid #F8584B;
}

#exp-sec {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.order-btn {
  background-color: #F8584B;
  border: none;
  border-radius: 5px;
  width: 250px;
  height: 40px;
  margin: 20px auto;
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
}

.order-btn:hover {
  background-color: #00eaff;
}

.thank-you {
  color: white;
  margin: auto;
  text-align: center;
  width: 90vw;
}

.thumbs-up {
  max-width: 514px;
  max-height: 514px;
  width: 50vw;
  height: auto;
}

#blmBanner {
  width: 100vw;
  height: auto;
}

#blmText {
  width: 80vw;
  margin: 20px auto;
  text-align: center;
}

.empty-results {
  color: white;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px auto;
}

.home-imgs {
  max-width: 220;
  max-height: 330;
  width: 20vw;
  height: auto;
  min-width: 125px;
  object-fit: contain;
  margin-bottom: 10px;
}

@media screen and (max-width: 2000px) {
  .cart-item {
    width: 70vw;
    height: 150px;
  }

  .shopping-cart {
    max-width: 70vw;
  }

  .checkout {
    width: 50vw;
    margin: auto;
  }
}

@media screen and (max-width: 1500px) {
  #checkout {
    width: 80vw;
  }
}

@media screen and (max-width: 1065px) {
  .App-header {
    flex-direction: column;
  }

  .logo {
    padding-left: 0;
  }

  .nav {
    margin-right: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin-bottom: 20px;
  }

  .page-icon {
    margin-bottom: 0;
  }

  h1 {
    font-size: large;
  }

  .item-count {
    bottom: 30px;
    right: 235px;
  }
}

@media screen and (max-width: 935px) {
  .nav {
    justify-content: center;
  }

  .page-icon {
    width: 40px;
    position: relative;
    margin: 0 20px 0 0;
  }

  .menu-icon {
    position: absolute;
  }

  .item-count {
    right: 30px;
  }

  .page-name {
    font-size: xx-small;
    visibility: hidden;
  }

  #blmText {
    width: 90vw;
    font-size: small;
  }

  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .product-card {
    width: 90vw;
    height: 230px;
    margin: 20px;
    border-bottom: 2px solid #F8584B;
    position: relative;
    display: flex;
  }
  
  .product-img {
    width: 150px;
    height: 220px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .product-info {
    margin-left: 20px;
  }

  .cart-item-name {
    font-size: small;
  }

  .count-n-price{
    margin-right: 20px;
  }

  .cart-item-isbn {
    font-size: small;
  }
  
  .cart-item-pub {
    font-size: small;
  }

  #checkout {
    flex-direction: column;
    width: 320px;
  }

  .checkout-form{
    text-align: center;
    margin: auto;
    width: 320px;
  }

  .payment {
    margin: auto;
    width: 320px;
  }

  .checkout-input {
    width: 300px;
  }

  #exp-sec {
    width: 95%;
  }
}

@media screen and (max-width: 650px) {
  .cart-item {
    width: 95vw;
    height: 100px;
  }

  .shopping-cart {
    max-width: 95vw;
  }

  .checkout {
    width: 90vw;
    margin: auto;
  }

  .cart-item-name {
    font-size: x-small;
  }

  .cart-item-stock {
    font-size: xx-small;
  }

  .cart-item-isbn {
    font-size: 0;
  }
  
  .cart-item-pub {
    font-size: 0;
  }
}